body {
    background: #121212;
}

.name{
    color: 	#4682B4;
    font-family: 'Maven Pro', sans-serif;
    font-size: 104px;
    font-weight: 800;
    margin-left: 200px;
    margin-top: 40px;
    line-height: 120px;
}

#menu-button{
    margin-left: 30px;
    margin-right: 30px;
}
